<section class="">
  <button class="pertenecer" ng-click="iniciar = !iniciar">Ser parte</button>
  <div class="landing__learn-now">
  </div>

  <article class="">
    <div class="iniciar card" ng-class="{ 'mostar__iniciar':iniciar }" ng-controller="loginCtrl">
      <h3 class="inciar-title">Inciar sesión</h3>
      <button class="btn-facebook face" ng-click="authenticate('facebook')">
        <i class="ion-social-facebook"></i> Iniciar sesión con Facebook
      </button>
    </div>
  </article>

<section>

<section class="portada__learn">
  <p class="card about__learnNow">
    Somos Learn Now una plataforma que apoya a la revolucion de la educacion digital
  </p>
</section>

</section>
  <div class="porque">

    <figure class="video__clase">
      <img src="../../dist/img/video_clase.png" alt="video_clase.png">
      <figcaption class="descrip_detail">
        <p class="video__descripcion">
          Aprende con clases interactica y en video la mejor forma de aprender.
        </p>
      </figcaption>
    </figure>

    <figure class="chat__detail">
      <img src="../../dist/img/chat.png" alt="chat.png">
      <figcaption class="descrip_detail">
        <p class="chat__descripcion">
          Conversa con tus compañeros preguntales y responde dudas de otros compañeros con nuestro chat de clase.
        </p>
      </figcaption>
    </figure>

    <figure class="recurso__detail">
      <img src="../../dist/img/recursos.png" alt="recursos.png">
      <figcaption class="descrip_detail">
        <p class="recurso__descripcion">
          Los recursos como la presentacion los link del codigo en github.
          Escribe tus apuntes que te parecen importante de la clase.
        </p>
      </figcaption>
    </figure>

    <figure class="taller__detail">
      <img src="../../dist/img/talleres.png" alt="talleres.png">
      <figcaption class="descrip_detail">
        <p class="taller__descripcion">
          Tenemos talleres en Streaming, todos los talleres quedan guardado.
        </p>
      </figcaption>
    </figure>

    <figure class="mpro__detail">
      <img src="../../dist/img/mpro.png" alt="mpro.png">
      <figcaption class="descrip_detail">
        <p class="mpro__descripcion">
          Preparate para crear para internet, construye apps modernas de impacto.
        </p>
      </figcaption>
    </figure>

   <!---<figure class="recurso__detail">
      <img src="../../dist/img/User.png" alt="User.png">
      <figcaption class="descrip_detail">
        <p class="recurso__descripcion">
          Los recursos como la presentacion los link del codigo en github.
          Escribe tus apuntes que te parecen importante de la clase.
        </p>
      </figcaption>
    </figure>-->

  </div>
</section>

<div class="conoce__title">
  <h3>Conoce al equipo</h3>
  <i class="material-icons">people</i>
</div>
<section class="founders">
  <figure class="alejandro avatar__founder">
    <img src="../../dist/img/alejo.jpg" alt="Alejandro Rivas">
    <figcaption class="founder__about">
      <p class="nf">Alejandro Rivas</p>
      <p class="ab">CEO & developer de LearnNow</p>
    </figcaption>
  </figure>
  <figure class="adrian avatar__founder">
    <img src="../../dist/img/adrian.jpg" alt="Adrian Anchundia">
    <figcaption class="founder__about">
      <p class="nf">Adrian Anchundia</p>
      <p class="ab">CTO & Marketing de LearnNow</p>
    </figcaption>
  </figure>
</section>
