<!DOCTYPE html>
<html lang="es" ng-app="LearnNow">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1">
  <title>Learn Now</title>
  <link rel="stylesheet" href="/dist/css/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <section ui-view>
  </section>
  <footer>
  </footer>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/dist/js/bundle.js"></script>
</body>
</html>
