<form ng-submit="classes()">
  <p><input type="text" ng-model="dataForm.title" placeholder="Escribe el titulo de la clases"></p>
  <p>
    <textarea ng-model="dataForm.description" placeholder="Escribe el description de la clases">
    </textarea>
  </p>
  <p><input type="text" ng-model="dataForm.photo" placeholder="Escribe el photo de la clase"></p>
  <p>
    <textarea ng-model="dataForm.resource" placeholder="Escribe el resource de la clase">
    </textarea>
  </p>
  <p><input type="text" ng-model="dataForm.video" placeholder="Escribe el video de la clase"></p>
  <p><input type="submit"></p>
</form>






