<div ng-controller="toolbar">
  <header class="app-bar promote-layer paper-toolbar paper-shadow">
    <div class="app-bar-container paper-toolbar">
      <button class="menu" ng-click="flag = !flag">
         <i class="material-icons">menu</i>
      </button>
    </div>
  </header>
  <nav ng-class="{'mostar-nav':flag}">
    <div class="UserToolbar">
      <div class="logo">
        <h1>Learn Now</h1>
      </div>
    </div>
    <ul class="listMenu">
      <li class="item">
        <a href="#/">Inicio</a>
        <i class="material-icons icon-item">home</i>
      </li>
      <li class="item">
        <a href="#/login">Iniciar session</a>
        <i class="material-icons icon-item">person</i>
      </li>
      <li class="item">
        <a href="#/signup">Registarme</a>
        <i class="material-icons icon-item">person</i>
      </li>
    </ul>
  </nav>
</div>
