<toolbar></toolbar>
<section class="mi-curso__section">
  <h2 class="foro-title">
    Foro
  </h2>
  <div class="foro__container">

    <article class="foro">
      <!--<figure class="foro__user">
        <img src="https://graph.facebook.com/1622910344630913/picture?type=large" alt="">
        <figcaption class="foro__user-name">
          <p>Alejandro Rivas</p>
        </figcaption>
      </figure>-->
      <h2 class="foro__title">Problema al tratar de usar el comando rails server en Ubuntu</h2>
      <p class="foro__pregunta">
        Si alguein sabe la respuesta, necesito que me ayuden, para poder seguir con el curso de Rails...
        El Error es el siguinete:............
      </p>
    </article>

  </div>
</section>
