.Login-title
  text-align center
  font-size 1.5em
  color rgba(primary_text, .9)

.btn-auth
  border none
  background accent_color
  padding .5em
  color white
  box-shadow 0px 1px 1.5px rgba(0,0,0,0.06),0px 1px 1px rgba(0,0,0,0.12)
  border-radius 1px
  width 100%

.btn-facebook
  border none
  box-shadow 0px 1px 1.5px rgba(0,0,0,0.06),0px 1px 1px rgba(0,0,0,0.12)
  color white
  width 100%
  padding .5em
  background-color #3b5998
  border 1px solid #335190
  margin-bottom 1em

.resgistrate
  text-align center
  small
    color #777

.resgistrate-link
  text-align center
  margin-top -1em
  a
    color #428bca
    text-decoration none
    font-size 13px
    margin 0 auto
    &:hover
      text-decoration underline

.wrapper
  position relative
  top 1.3em

//@media (min-width: 1200px)

@media (min-width: 768px)
  .form-wrapper
    width 40%

@media (min-width: 992px)
  .form-wrapper
    width 30%
