primary_color = #FFC107
primary_dark_color = #FFA000
accent_color = #03A9F4
primary_text = #212121
secondary_text = #727272
light-primary-color = #FFECB3
btn-float-color = #e91e63
fondo_material = #36474f
