.mi-curso__section
  padding 80px 0

.curso__avatar
  width 50px
  height 50px
  border-radius 50%

.Course
  margin 0 1em 0 1em
  position relative
  top 5em

.Course-photo
  margin 0
  img
    height 8em
    width 100%

.Course-take
  background accent_color
  border none
  border-radius 50%
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  color primary_text
  height 50px
  outline none
  position absolute
  right 2em
  text-decoration none
  top 6.5em
  width 50px

.Course-title
  font-size 19px
  position absolute
  top 3.5em

.Teacher-avatar
  border-radius 50%
  height 50px
  width 50px

.Teacher-name
  color secondary_text
  font-size 16px
  font-weight 600
  margin -1em 0 1.5em 4em
  position relative
  top -1.5em

.front
  position absolute
  height 22em
  left 0
  right 0

.CourseOne-title
  font-size 2em
  color white
  text-align center

.CourseOne-type
  color white
  text-align center
  background accent_color
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  width 5em
  padding .5em
  font-weight bold
  border-radius 2px
  margin-left 7em

.CourseOne-video
  position relative
.u-video-intro
  position absolute
  margin 0 auto

//mi curso
.headerCourse
  padding 64px 0 0 0

.headerCourse-h2
  color white
  text-align center
  font-weight bold
  font-size 3em
  margin 0

.top__header
  position absolute
  top 12em
  left 0

.Teacher-info
  width 95vw
  padding 0 0 .5em 0
  margin 0 0 1em 0

.Teacher-info-title
  padding .5em
  background accent_color
  color white
  box-shadow 0px 1px 1.5px rgba(0,0,0,0.06),0px 1px 1px rgba(0,0,0,0.12)

.Teacher-info-avatar
  padding 0
  margin 2em 0 0 10px
  img
    width 50px
    height 50px

.Teacher-info-name
  font-style italic
  font-weight bold
  left 4em
  margin 0 0 0 5px
  padding 0
  position absolute
  top 3em

.Teacher-info-desciption
  margin -2.5em 0 20px 4.3em
  font-style italic
  width 10em

.clase
  margin 0 0 1em 0
  width 95vw
  background white
  box-shadow 0px 1px 1.5px rgba(0,0,0,0.06),0px 1px 1px rgba(0,0,0,0.12)

.clase__title
  background accent_color
  color white
  padding .5em

.clase__photo
  margin 0
  padding 0
  img
    margin -1.2em 0 0 0
    width 100%
    padding 0
    height 10em

.clase__description
  padding .3em
  height 3.2em
  width 100%
  p
    padding 0 .5em

.go__a
  text-decoration none
  color white

.btn__clase-go
  background #E91E63
  border 0
  border-radius 50%
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  position absolute
  top 1em
  right 1em
  width 50px
  height 50px
  outline none

@media (min-width: 468px)
  .mostar-nav
    width 17em

  .Teacher-info
    width 96.9vw

  .User
    display block

@media (min-width: 768px)

  .clase
    width 22.9vw
    //margin 1em

  .Course
    display inline-block
    margin-bottom 1em
    vertical-align top
    width 20em

  .mi-curso
    display flex
    flex-wrap wrap
    justify-content space-around

  .top__header
    display flex

  .Teacher-info
    margin-left 1em
    width 16em
    margin 0 2em
    order 1
    align-self baseline

  .Teacher-info-avatar
    position relative

  .Teacher-info-name
    left 3.2em
    top -1.5em

  .User-name
    p
      display block
      right 12%

@media (min-width: 992px)

  .User-name
    p
      right 10.5%

@media (min-width: 1200px)

  .User-name
    p
      right 9.5%

  .CourseOne-video
    top 7em

  .u-video-intro
    bottom .1em
    right 2em

  .CourseOne-title
    font-size 3em
    margin 1em 0 0 0
    padding 0

  .CourseOne-type
    text-align center
    margin-left 38em

  .btn-take
    position absolute
    top 24em
    right 5em
    width 4em
    height 4em
    .icon-take-btn
      font-size 2em
