.about__learnNow
  font-family serif, arial
  font-style italic
  font-weight bold
  font-size 18px
  margin 0 auto
  padding 1.5em
  position relative
  text-align center
  top -2em
  width 70vw

.conoce__title
  background fondo_material
  h3
    font-size 2em
    margin 0
    padding 0
    color white
    text-align center
  i
    color white
    font-size 5em
    text-align center
    display block

.landing__learn-now
  //background url("../imgs/laptop.png") center bottom no-repeat #36474F;
  background url("../img/laptop.png") center bottom fondo_material no-repeat
  display block
  background-size 40% auto
  min-height 800px

/*.lan__video
  display bock
  video
    width 100%*/

.pertenecer
  background #fd4a4a
  color white
  border 0
  padding .5em 5em
  box-shadow 0px 1px 1.5px rgba(0,0,0,0.06),0px 1px 1px rgba(0,0,0,0.12)
  border-radius 2px
  position absolute
  top 1em
  right 1em
  font-weight bold
  outline 0

.centrar
  display flex
  justify-content center

.iniciar
  width 95%
  transition all ease 1s
  position absolute
  top -500px
  left .5em

.mostar__iniciar
  position absolute
  top 5em
  left .5em

.face
  width 70%
  margin 1em 15%

.portada__learn
  background url("../img/portada.jpg")
  background-size cover
  background-position: center
  height 347px

@media (min-width: 768px)
  .iniciar
    width 50%
    left 15em
  .mostar__iniciar
    left 15em
  /*.face
    width 70%
    margin 1em 20%*/

.inciar-title
  margin 0
  padding 0
  color white
  font-size 1.5em
  text-align center
  background #fd4a4a
  padding .2em

.founders
  background #36474F
  margin -.3em 0 0 0
  height 40em
  display flex
  flex-wrap wrap
  justify-content center

@media (min-width: 768px)
  .founders
    height 25em

.avatar__founder
  img
    width 15em
    height 15em
    border-radius 50%
    border 4px solid primary_dark_color
.founder__about
  font-weight bold
.nf
  text-align center
  margin 0
.ab
  margin 0
